.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 10em;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.product {
  scale: 1;
  transition: scale 300ms;
}

.product:hover {
  scale: 1.05;
}

.product img {
  height: 10em;
  object-fit: cover;
}

table {
  border-collapse: separate;
  border-spacing: 2em 0;
}

td {
  padding: 0.5em 0;
}
